<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StegaVault</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="site-header">
        <div class="logo">StegaVault</div>
    </header>
    <div class="main-content">
        <h2>Welcome to <span class="highlight">StegaVault</span></h2>
        <p>Encrypt and Decypt secret messages from images securely!</p>
        <div class="buttons">
            <a href="insert" class="btn">🔒 Encrypt Message</a>
            <a href="extract" class="btn">🔓 Decypt Message</a>
        </div>
    </div>
    <div class="background-animation"></div>
    <footer class="footer">
        © 2025 StegaVault. All rights reserved.  
        Developed by <a href="https://github.com/sathishdusharla" target="_blank" rel="noopener noreferrer" style="color: white; text-decoration: none;">Sathish Dusharla</a>.
    </footer>
    
</body>
</html>
